@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');

body {
  margin: 0;
  background: #fff;
  overflow-x: hidden;
  max-width: 100%;
  font-family: Alegreya sans;
}

.auth-form {
  max-width: 35rem;
  padding: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.auth-container {
  height: calc(100vh - 10rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-header {
  font-weight: 500;
  margin-bottom: 2rem;
  color: #51b0f1;
}

.auth-header a {
  color: #51b0f1;
  text-decoration: none;
}

.auth-header:hover {
  background: rgba(81, 176, 241, 0.12);
}

.img-wrapper {
  text-align: center;
  margin-bottom: 1rem;
}

.img-wrapper .fa-image {
  color: rgba(81, 176, 241, 0.12);
  cursor: pointer;
}

.error-feedback {
  color: #dc3545;
  font-size: 10px;
}

@media screen and (max-width: 800px) {
  .auth-form {
    max-width: 25rem;
    padding: 30px;
  }
}
