@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');

body {
  margin: 0;
  background: #fff;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Alegreya sans;
}
